@model IEnumerable<Thales.Principal.Models.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.employee_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profile_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.employee_anual_salary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.employee_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profile_image)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.employee_anual_salary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
